# The releng team is by default the owner of everything.
*             @eclipse-oniro4openharmony/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-oniro4openharmony/eclipsefdn-security
